
              <a class="twitter-timeline" href="https://twitter.com/yassinphilip">Tweets by yassinphilip</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

              <a href="https://twitter.com/yassinphilip" class="twitter-follow-button" data-show-count="false">Follow @yassinphilip</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

              <a class="twitter-timeline" href="https://twitter.com/TwitterDev">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
